.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #d6d6d6;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #f7f3f3;
}

.column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.app-container {
  display: flex;
  justify-content: center;
  left: 0%;
}

.header-container {
  position: fixed;
  display: flex;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 3vw;
  background-color: rgb(219, 84, 84);
  z-index: 100;
  padding: 0.5vw;
}

.header-button {
  position: relative;
  width: 4.5vw;
  height: 100%;
  margin-left: 0.4vw;
  margin-right: 0.4vw;
  background-color: transparent;
  border-radius: 8px;
  border: transparent solid;
  z-index: 3;
  background-color: rgb(219, 84, 84);
}
.header-button:hover {
  background-color: rgba(65, 1, 1, 0.575);
}
.header-button.dashboard {
  width: 11vw;
}

.header-logo {
  z-index: 3;
}

.header-button-container {
  display: flex;
  justify-content: center;
}

.profile-button-container {
  position: absolute;
  right: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.header-button-info {
  color: #ffffff;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  background-color: rgb(151, 62, 62);
  padding: 0.2rem;
  position: absolute;
  top: 3.6vw;
  height: 1.2rem;
  z-index: 1;
  opacity: 0;
}

@keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }
}

.header-button-container:hover .header-button-info {
  opacity: 1;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

.profile-button-container:hover .header-button-info {
  opacity: 1;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

.header-info-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(219, 84, 84);
  z-index: 2;
  top: 0%;
  left: 0%;
}

.profile-button {
  position: relative;
  width: 4.5vw;
  height: 80%;
  margin-top: 0.5vw;
  margin-right: 1.5vw;
  margin-left: 1.5vw;
  border-radius: 20%;
  border: transparent solid;
  background-color: transparent;
  z-index: 3;
}
.profile-button:hover {
  background-color: rgba(65, 1, 1, 0.575);
}

img {
  height: 100%;
  width: auto;
}

.page-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3vw;
  width: 90%;
}

.word {
  width: 10rem;
  border: gray solid 0.1rem;
  text-align: center;
  padding: 0.5rem
}

.wordlist-card-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.wordlist-card-header {
  position: relative;
  margin-left: 0.5rem;
  top: 1rem;
  font-size: 1rem;
  color: #282c34;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wordlist-card {
  position: relative;
  padding: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0;
  width: 16rem;
  height: 8rem;
  margin: 0.5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 2%;
  background-color: white;
  border: transparent solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wordlist-card-highlight {
  position: relative;
  height: 0.3rem;
  width: 100%;
  background-color: rgb(214, 84, 84);
  border-radius: 1rem;
  opacity: 0;
  transition: 0.2s;
  margin-top: auto;
  align-self: center;
}

.wordlist-card:hover .wordlist-card-highlight {
  opacity: 1;
}
.explore-card:hover .wordlist-card-highlight {
  opacity: 1;
}

a:-webkit-any-link {
  text-decoration: none;
}

.wordlist-card .title {
  font-size: 1rem;
  text-decoration: none;
}

.wordlist-card-details {
  display: flex;
  width: 100%;
  position: relative;
  top: 1rem;
}

.wordlist-card-details .count {
  margin-left: auto;
}

.delete-word-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-word {
  position: absolute;
  margin-left: 2rem;
  height: 1.5rem;
  width: 1.5rem;
  text-align: center;
  border: red 0.1rem solid;
}

.delete-word:hover {
  background-color: rgb(128, 128, 128);
  color: white;
}

.delete-word:active {
  border: rgb(107, 2, 2) 0.1rem solid;
}

.nav-container {
  display: flex;
}

.nav-card {
  width: 10rem;
  height: 10rem;
  margin: 1rem;
  font-size: x-large;
}

.flashcards-page-container { 
  overflow: hidden;
  opacity: 1;
  margin-top: 3rem;
  margin-bottom: 2rem;
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.flashcard-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  transition: 0.3s;
}

.flashcard {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  user-select: none;
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 20rem;
  height: 15rem;
  perspective: 1000px;
  cursor: pointer;
  margin-right: 1rem;
  margin-left: 1rem;
  font-size: 2.5rem;  
  padding: 1rem;
}
.flashcard-inner {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: rgba(0, 0, 0, 0.685);
}
.flashcard-inner.flip-back {
  transform: rotateX(180deg);
}

.flashcard-front {
  position: absolute;
  opacity: 1;
  transition: opacity 0.8s;
}
.flashcard-front.back {
  opacity: 0;
  transition: opacity 0.25s;
}
.flashcard-back {
  position: absolute;
  transform: rotateX(180deg);
  opacity: 1;
}
.flashcard-back.front {
  opacity: 0;
  transform: rotateX(180deg);
  transition: 1s;
}
.flashcard.current {
  position: relative;
  opacity: 1;
  pointer-events: all;
}
.flashcard.prev {
  width: 18rem;
  height: 13rem;
  position: relative;
  opacity: 50%;
}
.flashcard.next {
  width: 18rem;
  height: 13rem;
  position: relative;
  opacity: 50%;
}
.flashcard.prev-prev {
  position: relative;
  opacity: 0;
}
.flashcard.next-next {
  position: relative;
  opacity: 0;
}

.flashcard-nav {
  display: flex;
  user-select: none;
  -webkit-user-select: none;
}
.flashcard-nav button {
  margin-left: 3rem;
  margin-right: 3rem;
  width: 4rem;
  height: 4rem;
  font-size: 1.5rem;
}

.language-toggle {
  display: flex;
  justify-content: center;
  width: 8rem;
  margin-top: 0.2rem;
}

.language-toggle button {
  width: 50%;
  height: 1rem;
  background-color: transparent;
  border: none;
}

.language-toggle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.language-toggle {
  background-color: transparent;
  border-radius: 8px;
}
.language-toggle.lang1 {
  background-image: linear-gradient(to right, rgb(155, 11, 11), rgb(247, 206, 206));
}
.language-toggle.lang2 {
  background-image: linear-gradient(to right, rgb(247, 206, 206), rgb(155, 11, 11));
}

.lang-connector {
  width: 2rem;
  height: 0.5rem;
  background-color: gray;
  margin-top: 0.25rem;
  border: rgba(0, 0, 0, 0.294) solid 0.2rem;
  box-sizing: border-box;
}

.learncard-container {
  display: flex;
  justify-content: center;
}
.learncard.answer {
  width: 15rem;
}

.learncard {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: auto;
  opacity: 0;
  pointer-events: none;
  padding: 1rem;
  font-size: 2rem;
  border: rgba(61, 60, 60, 0.404) solid 0.2rem;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.learncard input {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgba(0, 0, 0, 0.685);
  background-color: white;
  border: none;
  border-bottom: rgb(161, 161, 161) 2px solid;
  border-top: rgb(255, 255, 255) 2px solid;
  font-size: 1.5rem;
}

.learncard input:focus {
  color: black;
  outline: none;
  border: none;
  border-bottom: rgb(211, 92, 92) 2px solid;
  border-top: rgb(255, 255, 255) 2px solid;
}

.learncard.current {
  opacity: 1;
  pointer-events: all;
}

.answercard-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.answercard-message {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  position: relative;
  margin-top: 0%;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.answer-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-form input {
  height: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.answer-form button {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
}

.learn-container {
  position: relative;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 3rem;
  padding-bottom: 12rem;
  margin-top: 2rem;
  overflow: hidden;
}

.correct {
  color: rgb(113, 185, 6);
}
.incorrect {
  color: red;
}
.almost {
  color: rgb(255, 166, 0);
}

.answer-message {
  margin: 0;
  height: 2rem;
}

.correct-answer-divider {
  padding-left: 1rem;
  padding-right: 1rem;
}

.answer-container {
  position: relative;
  display: flex;
}
.answer-container p {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  margin: 0;
}

.answercard-container .slide-button {
  margin-top: 1rem;
  height: 2rem;
  width: 3rem;
}

.learn-progress-bar-outer {
  background-color: rgba(128, 128, 128, 0.219);
  border: rgba(82, 80, 80, 0.226) solid 0.2rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  width: 40rem;
  height: 0.6rem;
}

.learn-progress-bar-inner {
  background-color: rgb(233, 53, 53);
  height: 100%;
  border-radius: 0.5rem;
  transition: 0.5s;
}

.learncard.results {
  position: absolute;
  width: auto;
  top: 10%
}
.results-card {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.results-button {
  position: relative;
}
.results-button link {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
}

.error-flash-container {
  position: fixed;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.error-flash {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: red solid 0.5rem;
  background-color: white;
  width: 20%;
  height: 10%;
  padding: 1rem;
}

.error-flash-close {
  margin-left: 1rem;
}

.wordlist-from-textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gen-from-textarea-button {
  margin-top: 1rem;
  width: 12rem;
}

.wordlist-create {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.profile-card-container {
  display: flex;
  margin-top: 2rem;
}

.page-title {
  position: relative;
  top: 2rem;
  color: #2c2c2cd8;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2rem;
}

.explore-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.explore-card {
  padding: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  width: 20rem;
  margin: 1rem;
  height: 10rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 2%;
  background-color: white;
  border: transparent solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.explore-container-details {
  position: relative;
  display: flex;
  align-items: initial;
  width: 92%;
  margin-right: 3.5rem;
  top: 1.5rem;
}

.explore-container-details h2 {
  position: relative;
  bottom: 0.5rem;
  font-size: 1rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sortBy-filters {
  display: flex;
  margin-left: auto;
  margin-right: 1rem;
  color: #3a3a3a;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sortBy-dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
}

.sortBy-dropdown-selected {
  display: flex;
  justify-content: center;
  border: rgba(0, 0, 0, 0.507) solid 1px;
  font-size: 0.6rem;
  border-radius: 8px;
  padding: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  transition: 0.2s;
  width: 4rem;
  margin-top: 0.2rem;
}

.sortBy-dropdown:hover .sortBy-dropdown-selected {
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

.sortBy-dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  width: 100%;
  opacity: 0;
}
.sortBy-dropdown:hover .sortBy-dropdown-menu {
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
  opacity: 1;
  pointer-events: all;
}

.sortBy-dropdown-menu button {
  cursor: pointer;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  justify-content: center;
  background-color: white;
  border: rgba(0, 0, 0, 0.507) solid 1px;
  color: #3a3a3a;
  font-size: 0.6rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.sortBy-dropdown-menu button.top {
  margin-top: 1.4rem;
} 

.sortBy-dropdown-menu button:active {
  background-color: rgb(0, 0, 0);
}

.sortBy-dropdown-menu button:hover {
  background-color: rgb(230, 227, 227);
}
.sortBy-dropdown-menu button:active {
  background-color: rgb(175, 175, 175);
}

.sortBy-label {
  margin-right: 0.6rem;
  font-size: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 0.6rem;
}

.bottom-button {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sortBy-dropdown-menu button.selected {
  border: #080808dc solid 1px;
  background-color: rgb(240, 178, 178);
}
.sortBy-dropdown-menu button.selected:hover {
  background-color: rgb(240, 178, 178);
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dashboard-title {
  margin-top: 4rem;
  font-family: 'Trebuchet MS';
  color: rgba(0, 0, 0, 0.788);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.backdrop-container {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -10;
}

.show-all {
  display: flex;
  align-items: baseline;
  margin-right: 0.6rem;
  font-size: 0.5rem;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.show-all div {
  position: relative;
  margin-right: 0.5rem;
  bottom: 0.2rem;
}

.show-all-button {
  position: relative;
  border-radius: 50%;
  height: 0.9rem;
  border: rgba(66, 66, 66, 0.527) solid 2px;
  box-sizing: border-box;
  bottom: 0.2rem;
  transition: 0.1s;
}
.show-all-button:hover {
  border: rgba(0, 0, 0, 0.24) solid 2px;;
}
.show-all-button:active {
  border: rgba(0, 0, 0, 0.507) solid 2px;
  background-color: red;
}
.show-all-button.showing {
  background-color: rgb(230, 117, 117);
}
.show-all-button.showing:active {
  background-color: rgb(216, 216, 216);
}

.list-container {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.add-word-button {
  position: relative;
  margin: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: transparent;
  font-family: 'Trebuchet MS';
  font-size: 1.3rem;
  display: flex;
  text-align: center;
  justify-content: center;
  transition: 0.1s;
  box-sizing: border-box;
  color: rgb(235, 6, 6);
  border:rgba(212, 212, 212, 0.486) solid 0.2rem;
}
.add-word-button:hover {
  border:rgba(248, 248, 248, 0.658) solid 0.2rem;
  background-color: rgb(255, 153, 153);
  color: rgba(255, 255, 255, 0.5);
}

.add-word-button:active {
  border:rgba(248, 248, 248, 0.658) solid 0.2rem;
  background-color: rgb(223, 100, 100);
  color: rgba(255, 255, 255, 0.808);
}

.add-word-button.wordpair {
  border: transparent;
  background-color: transparent;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
.add-word-button.wordpair:hover {
  border:rgba(248, 248, 248, 0.658) solid 0.2rem;
  background-color: rgb(236, 175, 175);
  width: 2rem;
  height: 2rem;
}

.add-word-button.wordpair:active {
  border:rgba(248, 248, 248, 0.658) solid 0.2rem;
  background-color: rgb(223, 100, 100);
  color: rgba(255, 255, 255, 0.808);
}

.add-word-button div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-word-button div.index {
  color: rgba(7, 7, 7, 0.582);
}

.add-word-button:hover div.index {
  opacity: 0;
}
.add-word-button div.del {
  position: relative;
  bottom: 0.1rem;
  opacity: 0;
  font-size: 1rem;
  text-align: center;
  border-radius: 50%;
}
.add-word-button:hover div.del {
  opacity: 1;
}

.add-word-form {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(128, 128, 128, 0.445);
}

.add-word-form input {
width: 20rem;
height: 3rem;
font-family: 'Trebuchet MS';
border: transparent;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.word-pair-container {
  display: flex;
  align-items: center;
}

@keyframes slideOut {
  0% {
    transform: scaleY(1);
    transform: scaleX(1);
  }
  100% {
    transform: scaleY(0.2);
    transform: scaleX(0);
  }
}

.word-pair-container.deleting {
  animation: slideOut 100ms ease-in-out;
  transform-origin: right;
}

.word-pair-container input {
  width: 20rem;
  height: 4rem;
  font-family: 'Trebuchet MS';
  font-size: 1.5rem;
  border: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-sizing: border-box;
  padding: 0.5rem;
  margin: 0.6rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.add-word-form input {
  width: 20rem;
  height: 3rem;
  font-family: 'Trebuchet MS';
  border: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-sizing: border-box;
  padding: 0.5rem;
}

.word-pair-container input:focus {
  outline: none;
  border-bottom: rgb(211, 92, 92) 5px solid;
  border-top: rgb(255, 255, 255) 5px solid;
}

.word-pair {
  display: flex;
  justify-content: center;
}

.link {
  width: 8rem;
  height: 0.2rem;
  background-color: rgba(128, 128, 128, 0.479);
}

.link-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
  padding: 0.5rem;
}

.divider-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

.divider {
  width: 30rem;
  height: 0.2rem;
  background-color: rgba(73, 73, 73, 0.726);
}

.word-list-title {
  position: relative;
  width: 20rem;
  height: 3rem;
  margin-bottom: 2rem;
}
.word-list-title input {
  width: 20rem;
  height: 3rem;
  font-family: 'Trebuchet MS';
  font-size: 1.5rem;
  border: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-sizing: border-box;
  padding: 0.5rem;
  border-bottom: rgba(0, 0, 0, 0.527) 5px solid;
  border-top: rgb(255, 255, 255) 5px solid;
}
.word-list-title input:focus {
  outline: none;
  border-bottom: rgb(211, 92, 92) 5px solid;
}

.lang-select {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.lang-select-selected {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.678);
  border: rgba(0, 0, 0, 0.507) solid 1px;
  font-size: 1.3rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-radius: 8px;
  padding: 0.5rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  transition: 0.2s;
  width: 6rem;
  height: 2rem;
  margin-top: 0.2rem;
}

.lang-select:hover .lang-select-selected {
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
}

.lang-select-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  pointer-events: none;
  width: 100%;
  opacity: 0;
  transition: 0.3s;
}

.lang-select:hover .lang-select-dropdown {
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top;
  opacity: 1;
  pointer-events: all;
}

.lang-select-dropdown button {
  cursor: pointer;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  display: flex;
  justify-content: center;
  background-color: white;
  border: rgba(0, 0, 0, 0.507) solid 1px;
  color: #3a3a3a;
  font-size: 0.6rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.lang-select-dropdown button.top {
  margin-top: 2.6rem;
} 

.lang-select-dropdown button:active {
  background-color: rgb(0, 0, 0);
}

.lang-select-dropdown button:hover {
  background-color: rgb(230, 227, 227);
}
.lang-select-dropdown button:active {
  background-color: rgb(175, 175, 175);
}
.bottom-button {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.lang-select-dropdown button.selected {
  border: #080808dc solid 1px;
  background-color: rgb(240, 178, 178);
}
.lang-select-dropdown button.selected:hover {
  background-color: rgb(240, 178, 178);
}

.create-page-header {
  display: flex;
}
.slide-button.process-button {
  width: 5rem;
  margin-left: 3rem;
  margin-right: 3rem;
}
.create-page-header button {
  width: 8rem;
  height: 3rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: white;
  border: rgb(247, 132, 132) solid 0.2rem;
  border-radius: 8px;
  box-sizing: border-box;
}

@keyframes fillUp {
  100% {
    background-position: left;
  }
}

.slide-button:hover {
  display: block;
  background: linear-gradient(to right, rgb(255, 221, 221) 50%, white 0);
  background-size: 200% 100%;
  background-position: right;
  animation: fillUp 0.4s forwards;
}
.slide-button:active {
  border: rgb(182, 66, 66) solid 0.2rem;
}

.create-page-title {
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.719);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.slide-button {
  position: relative;
  width: 8rem;
  height: 3rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: white;
  border: rgb(247, 132, 132) solid 0.2rem;
  border-radius: 8px;
  box-sizing: border-box;
  transition: opacity 0.3s;
}
.slide-button.textareaActive {
  opacity: 0;
  pointer-events: none;
}
.slide-button.textarea-switch {
  margin: 2rem;
}

.create-textarea {
  margin-top: 2rem;
  border: rgba(0, 0, 0, 0.322) 2px solid;
  border-radius: 8px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.create-textarea:focus {
  outline: none;
  border: rgba(197, 89, 89, 0.932) 2px solid;
}

.textarea-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.textarea-button-container button {
  margin: 6rem;
  margin-top: 2rem;
}

.list-container.view {
  pointer-events: none;
}
.list-container.explore {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.exploreList-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
} 
.exploreList-buttons h2 {
  font-size: 2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgba(0, 0, 0, 0.829);
}
.exploreList-buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgba(0, 0, 0, 0.76);
  font-size: 1rem;
}
.exploreList-buttons .upvote-button {
  width: 5rem;
}

.upvote-button {
  display: flex;
  width: 5rem;
  justify-content: center;
  align-items: center;
}

.upvote-image {
  height: 60%;
  width: 60%;
  object-fit: cover;
}

.copy-button {
  position: relative;
  width: 5rem;
}

.profile-form {
  display: flex;
  flex-direction: column;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgba(0, 0, 0, 0.822);
  margin-top: 3rem;
  align-items: center;
}

.profile-form input {
  width: 20rem;
  height: 2.5rem;
  font-family: 'Trebuchet MS';
  font-size: 1rem;
  border: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-sizing: border-box;
  padding: 0.5rem;
  margin: 0.6rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.profile-form input:focus {
  outline: none;
  border-bottom: rgb(211, 92, 92) 5px solid;
  border-top: rgb(255, 255, 255) 5px solid;
}

.divider.profile {
  width: 10rem;
  margin-bottom: 1rem;
}
.divider.view {
  width: 15rem;
  margin-top: 1rem;
  background-image: linear-gradient(to right, rgb(85, 83, 83), rgba(95, 95, 95, 0));
}

.fade {
  background-color: transparent;
  background-image: linear-gradient(to right, rgb(133, 131, 131), rgba(95, 95, 95, 0));
}

a.contained {
  position: relative;
  color: inherit;
  width: 100%;
  height: 100%;
}

.profile-form .container {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.profile-form .container button {
  margin-right: 2rem;
  margin-left: 2rem;
}

.list-container.scale-down {
  margin: 0;
}

.list-container.scale-down .word-pair-container input {
  width: 10rem;
  height: 2rem;
  font-size: 0.75em;
  padding: 0.25rem;
  margin: 0.3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.list-container.scale-down .link-wrapper {
  width: 5rem;
  padding: 0.25rem;
}

.list-container.scale-down .lang-select-selected {
  font-size: 0.65rem;
  padding: 0.25rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  width: 3rem;
  height: 1rem;
  margin-top: 0.1rem;
}

.list-container.scale-down .add-word-button.wordpair {
  width: 1rem;
  height: 1rem;
}
.list-container.scale-down .add-word-button.wordpair div.index {
  font-size: 0.7rem;
}

.view-container {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.view-container .section {
  position: relative;
  height: 100%;
  width: 25%;
  margin-right: 1rem;
  margin-left: 1rem;
}

.edit.section {
  width: auto;
  margin-left: 0;
  box-sizing: border-box;
  border-image: linear-gradient(to bottom, rgb(85, 83, 83), rgba(95, 95, 95, 0.048)) 1 100% ;
  border-width: 0.2rem;
  border-style: solid;
}

.play-page.section {
  background-color: white;
  border: transparent solid;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 20rem;
  box-sizing: border-box;
  padding: 0.5rem;
  padding-bottom: 1rem;
  position: relative;
  border-bottom: white 10px solid;
  text-align: center;
}
.play-page.section:hover {
  border-bottom: rgb(211, 92, 92) 10px solid;
}
.play-page.section:hover .section-title {
  box-sizing: border-box;
  border-image: linear-gradient(to right, rgb(85, 83, 83), rgba(95, 95, 95, 0.048)) 100% 1;
  border-width: 0.2rem;
  border-style: solid;
  transition: 0.2s;
}
.play-page a {
  height: 100%;
  width: 100%;
  color: #2c2c2cd8;
}

.play.section .play-button {
  position: relative;
  width: 13rem;
  height: 4rem;
}
.play-button-link {
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  box-sizing: border-box;
  width: 100%;
}
.play.section .play-button:hover {
  display: flex;
}
.play-button-link img {
  width: auto;
  height: 2.5rem;
  margin-left: auto;
}
.play-button-link div {
  margin-right: auto;
  text-align: left;
}

.edit.section .slide-button.expand {
  width: 3rem;
  height: 2rem;
  font-size: 1rem;
}

.section .slide-button {
  position: relative;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.753);
  width: 5rem;
}

.slide-button a {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0%;
  top: 0%;
  color: inherit;
  width: 100%;
  height: 100%;
}
.section-title {
  color: #2c2c2cd8;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2rem;
  margin-top: 0%;
  box-sizing: border-box;
  border: transparent solid 0.2rem;

}
.section-title a {
  color: #2c2c2cd8;
}

.section-title:hover {
  box-sizing: border-box;
  border-image: linear-gradient(to right, rgb(85, 83, 83), rgba(95, 95, 95, 0.048)) 100% 1;
  border-width: 0.2rem;
  border-style: solid;
  transition: 0.2s;
}

.img-container {
  height: 4rem;
  width: auto;
  margin-top: auto;
}

.graph-container {
  margin-top: 2rem;
}

.card {
  font-family: 'Trebuchet MS';
  font-size: 1rem;
  border: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-sizing: border-box;
  background-color: white;
  margin: 0.5rem;
  padding: 1rem;
}

.answers-container {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  width: 80%;
  margin: 2rem;
}

.stats.card {
  display: flex;
  border: white 5px solid;
}
.stats.card:hover {
  border-bottom: rgb(211, 92, 92) 5px solid;
}
.stats.card .score {
  margin-left: 1rem;
}
.pos {
  color: rgb(147, 228, 26);
}
.neut {
  color: orange;
}
.neg {
  color: red;
}

.test-answer-container {
  margin-top: 0.5rem;
  max-width: 40rem;
  flex-wrap: wrap;
}
.test-answer-header {
  margin: 0rem;
}
.test-answer {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-right: rgba(0, 0, 0, 0.178) solid 2px;
}

.slide-button.back {
  width: 3rem;
  height: 4rem;
  font-size: 2rem;
  margin-right: 1rem;
}

.profile-button {
  position: relative;
}
.profile-button-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fade-underline {
  box-sizing: border-box;
  border-image: linear-gradient(to right, rgb(85, 83, 83), rgba(95, 95, 95, 0.048)) 100% 1;
  border-width: 0.2rem;
  border-style: solid;
  border-top: 0;
}

.flashcards-number {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.699);
}

.dashboard-stats {
  margin-bottom: 3rem;
}

.stats-cards {
  max-width: 50rem;
  flex-wrap: wrap;
}
.stats-cards-button {
  color: rgba(0, 0, 0, 0.76);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.dashboard-login {
  margin-top: 2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.profile-form.signup {
  margin-top: 1rem;
}

.dashboard.explore-container-details {
  margin-left: 1rem;
  z-index: 3;
}
.dashboard.explore-container-details h2 {
  color: rgba(0, 0, 0, 0.651);
}
.dashboard.explore-container-details .sortBy-filters {
  position: relative;
  left: 2rem
}

.profile-page-container {
  width: 100%;
}

.avatar-selection {
  position: absolute;
  justify-content: center;
  left: 0%;
  top: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 33%;
  margin-right: auto;
}
.avatar-selection h2 {
  margin-bottom: 3rem;
}

.avatar-select {
  margin: 0.2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: rgb(238, 236, 236);
  border: transparent solid 0.3rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.avatar-select:hover {
  border-bottom: rgb(211, 92, 92) 0.3rem solid;
}
.avatar-select:active {
  background-color: rgb(231, 165, 165);
}
.avatar-select.selected {
  background-color: rgb(245, 188, 188);
  color: rgb(255, 255, 255);
}
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  height: 6rem;
  width: 6rem;
}
.dashboard-section-title {
  margin-top: 2rem;
  margin-bottom: 0;
  margin-left: 1rem;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.678);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.folder-select-container {
  width: 100%;
  flex-wrap: wrap;
}

.wordlist-card.selected {
  background-color: rgb(236, 193, 193);
}

.selected .wordlist-card-highlight {
  background-color: white;
}

.word-list-title.folder {
  margin: 0;
  margin-left: 2rem;
  margin-right: 2rem;
}

.folder.wordlist-card-container {
  margin-left: 2rem;
}
.folder-title-container {
  margin-top: 2rem;
  margin-left: 8rem;
  display: flex;
  align-items: center;
}

.folder.wordlist-card-container {
  margin-top: 1rem;
}

.view-folder-button-container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.view-folder-button-container button {
  margin-left: 2rem;
  margin-right: 2rem;
  width: 5rem;
  height: 4rem;
  margin-top: 1rem;
}
.view-folder-button-container button.editing {
  background-color: rgb(228, 127, 127);
  color: white;
}
.view-folder-button-container button.editing:hover {
  background: rgb(206, 73, 73);
}
.wordlist-card.included {
  background-color: rgb(248, 147, 147);
}

.slide-button.hidden {
  opacity: 0;
  pointer-events: none;
}

.no-data {
  width: 100%;
  margin-top: 2rem;
  padding-left: 2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.create-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-container {
  height: 2rem;
  width: auto;
  margin-left: auto;
  border-radius: 50%;
  border: solid 2px rgba(0, 0, 0, 0.103);
  padding: 0.2rem
}

.explore-card-title {
  width: 100%;
}
.explore-card-title h2 {
  margin-right: auto;
}